@import "../../../../../assets/styles/variables";

.container-images-form {
    height: 70%;
    max-width: 600px;
    width: 50%;
    margin: 0 auto;
    background: rgba($color: (
            $terciary-color),
        $alpha: 0.7
        );
    border-radius: 20px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

:host ::ng-deep .p-button.btn.btn-submit {
    // background-color: aliceblue !important;
    margin-top: 15px;
    border-radius: 7px;
    background-color: $terciary-color !important;
    color: $secondary-color;
    border-color: $secondary-color;
    transition: all 0.6s ease;
    min-width: 250px;
    width: 100%;

    &:hover {
        background-color: $secondary-color !important;
        color: $terciary-color;
        transform: scale(1.2);
    }
}

:host ::ng-deep .p-float-label {
    margin-bottom: 20px;

    .p-inputtext {
        max-width: 250px;
        width: 100%;
        background: $primary-color;
    }

    label {
        color: $secondary-color;
    }
}

:host ::ng-deep .p-fileupload {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
    transition: all 0.6s ease;

    &-choose {
        background: $secondary-color;
        border-color: $terciary-color;
        color: $primary-color;
        transition: all 0.6s ease;

        &:hover {
            background: $primary-color;
            color: $secondary-color;

        }
    }

    &-buttonbar {
        background: $terciary-color;
        transition: all 0.6s ease;
        border-color: transparent;
    }

    &-content {
        transition: all 0.6s ease;
        border-color: transparent;
        background: $terciary-color;

        .p-progress-bar {
            background: transparent;
        }

        .p-button-icon-only {
            background-color: $secondary-color;
            border: transparent;
        }
    }
}

:host ::ng-deep .p-dropdown {
    min-width: 220px;
    width: 100%;
    background: $primary-color;
    margin-bottom: 30px;
    border-color: transparent;

    .p-dropdown-items-wrapper{
        border-radius: 0px 0px 10px 10px;
        background-color: $primary-color;
        color: $secondary-color;
        
        .p-highlight.p-focus{
            color: $primary-color;
            background-color: $secondary-color;

        } 
    }
}