
app-form-images{
    overflow-y: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: url("./../../../../assets/img/chaqueta1.jpeg") no-repeat fixed center;;
    object-fit: cover;
    background-size: cover;
}