@if(orders.length>0){<p-dataView #dv [value]="ordersRender" [rows]="3" [paginator]="true">
    <ng-template pTemplate="list" let-ordersList>
        <div  style="padding: 20px;">
            <h3 style="font-size: 2rem;">
                Filtrar
            </h3>
            <p-dropdown [options]="statusFilter" [(ngModel)]="optFilter" (onChange)="filterStatus(optFilter)"></p-dropdown>
        </div>
        <ng-container *ngFor="let order of ordersList">
            <div class="flex-col general-container">
                <div class="flex-row order-container">
                    <h4>{{'ID: '+order['idOrder'] }}</h4>
                    <div class="flex-col products-container">
                        <h4>Productos</h4>
                        <div *ngFor="let prod of order.productInventory">
                            <!-- <picture class="flex-col" > -->
                            <img height="50" width="50" style="object-fit: cover;" [src]="prod.image"
                                [alt]="prod.productName" />
                            <span>{{prod.productName}}</span>
                            <!-- </picture> -->
                        </div>
                    </div>
                    <div class="flex-col user-info">
                        <h4>Información</h4>
                        <div class="grid-container">

                            <h4>{{order.user.address}}</h4>
                            <h4>{{order.user.phone}}</h4>
                            <h4>{{order.user.neighborhood}}</h4>
                            <h4>{{order.user['name']}}</h4>
                        </div>
                    </div>
                    <div class="status flex-col">
                        <h4>Estado</h4>
                        <p-dropdown (onChange)="changeOrderStatus(order['idOrder'],  order['productInventory'],order['delivered'])" [(ngModel)]="order['delivered']" [options]="status" optionLabel="label" optionValue="value" ></p-dropdown>
                        <h4>Total Compra</h4>
                        <h5>{{order['total'] |currency: 'COP'}}</h5>
                    </div>
                </div>
            </div>
            <p-divider></p-divider>
        </ng-container>
    </ng-template>
</p-dataView>}

<p-toast position="top-center"></p-toast>